.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container button {
    padding: 12px;
    border-radius: 16px;
    border: 0;
    border: 1px solid black;
}

.container button:focus,
.container button:active {
    border: 1px solid blue;
    outline: 0;
}
